@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  /* Font Sizes */

  --fs-big: 3.25rem;
  --fs-small: 1rem;

  /* Background-colors */

  --bg-transparent: rgba(255, 255, 255, 0.1);
  --bg-circle: linear-gradient(90deg, #9627b0, #f3f5f5);
}

.flex {
  display: flex;
}

body {
  margin: 0;
  font-family: Poppins;
  min-height: 100dvh;
  min-width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121321;
  perspective: 1000px;
}

body::before, 
body::after {
  content: "";
  position: absolute;
  height: 20rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--bg-circle);
  z-index: -1;
}

body::after {
  transform: translate(300px, 180px);
}
body::before {
  transform: translate(-320px, -140px);
}

.card {
  position: absolute;
  min-width: clamp(33rem, 70%, 40rem);
  padding: 2rem 4rem 3rem 4rem;
  background-color: var(--bg-transparent);
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  color: white;
  backface-visibility: hidden;
}

.container {
  position: relative;
  min-width: clamp(33rem, 70%, 40rem);
  transition: 0.6s;
  transform-style: preserve-3d;
}

.container:hover {
  transform: rotateY(180deg);
}

.front-face {
  flex-direction: column;
  gap: 2.5rem;
}

.front-face-top-part {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.front-face-top-part img {
  width: 4rem;
}
.logo-container {
  align-items: center;
  gap: 1rem;
}
.front-face-middle-part h4,
.front-face-middle-part h1 {
  margin: 0;
}
.front-face-middle-part h1 {
  font-weight: 400;
}
.front-face-middle-part {
  flex-direction: column;
}
.valid-thru-container {
  flex-direction: column;
}
.valid-thru-container h3,
.valid-thru-container h2 {
  margin: 0;
}
.front-face-bottom-part h2 {
  margin: 0;
  font-weight: 400;
}
.front-face-bottom-part {
  justify-content: space-between;
  align-items: end;
}

.back-face h1,
.back-face h2, 
.back-face h3,
.back-face h4,
.back-face h5,
.back-face h6 {
  margin: 0;
} 

.back-face {
  position: relative;
  flex-direction: column;
  gap: 2.25rem;
  padding: 1rem;
  max-width: 62ch;
  transform: rotateY(180deg);
}

.middle-part {
  flex-direction: column;
  gap: 0.5rem;
}

.black-strip {
  background-color: black;
  height: 4rem;
  width: 100%;
  box-shadow: 0 0 0 100% rgb(0, 0, 0);
}

.magnetic-strip {
  position: relative;
  height: 3rem;
  width: calc(100% - 4rem);
  border-radius: 0.5rem;
  background: repeating-linear-gradient(
    #fff,
    #fff 3px,
    #efefef 0px,
    #efefef 9px
    );
}

.magnetic-strip::after {
  content: '005';
  position: absolute;
  inset: 0.5rem -3rem 0.5rem auto;
  border-radius: inherit;
  padding-inline: 1rem;
  background-color: #f3f5f5;
  color: #121321;
  display: grid;
  align-items: center;
}