body {
  margin: 0;
  background: aliceblue;
  display: grid;
  align-items: center;
  gap: 4rem;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial;
  position: relative;
}
.heading {
  font-size: 4rem;
  background: linear-gradient(45deg,rgb(255, 109, 109),rgb(255, 149, 99), rgb(187, 255, 109), green);
  background-clip: text;
  color: transparent;
}
.wrapper-green,
.wrapper {
  position: relative;
  text-align: center;
  padding: 1rem;
  width: 25rem;
  aspect-ratio: 3 / 4;
  background-image: url(station.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.4rem solid rgb(255, 255, 255);
  border-radius: 1rem;
  color: rgb(61, 61, 61);
}
.wrapper-green::before,
.wrapper::before {
  content: '';
  position: absolute;
  inset: -1rem;
  bottom: 45%;
  z-index: -1;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  filter: blur(5rem);
}
.wrapper::before {
  background-color: rgb(216, 26, 26);
}
.wrapper-green::before {
  background-color: green;
}
.wrapper-green::after,
.wrapper::after {
  content: '';
  position: absolute;
  inset: -1rem;
  top: 45%;
  background-color: rgb(0, 0, 0);
  border-radius: inherit;
  z-index: -1;
  filter: blur(5rem);
}
.green,
.red,
.count {
  font-size: 4rem;
  font-weight: 700;
}
.count {
  color: rgb(64, 68, 196);
}
.red {
  color: rgb(255, 0, 0);
  margin-block: 0.125rem;
}
.green {
  color: green;
  margin-block: 0.125rem;
}
button {
  margin-block: 1rem;
}
.increment-button,
.decrement-button {
  text-align: center;
  padding: 0.5rem;
  padding-inline: 6rem;
  border: 0;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: green;
  color: white;
  font-size: 1.25rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}
.decrement-button {
  background-color: rgb(255, 0, 0);
}
.primary {
  transition: all 0.1s ease-in-out;
}
.secondary {
  position: absolute;
  inset: 4rem 0 0 0;
  margin: auto;
  transition: all 0.1s ease-in-out;
}
.increment-button:hover .secondary,
.decrement-button:hover .secondary {
  position: absolute;
  inset: 1.25rem 0 0 0;
  margin: auto;
}
.increment-button:hover .primary,
.decrement-button:hover .primary {
  transform: translateY(-2.5rem);
}
.increment-button:hover,
.decrement-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.red-color {
  color: red !important;
}
.green-color {
  color: green !important
}