:root {
  --dark-green: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
}

body {
  display: grid;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  margin: 0;
  background-color: var(--cream);
}

.wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: 
  'image description'
  ;
  min-height: 70vh;
  max-width: 60vw;
  gap: 4vw;
  border-radius: 2rem;
  overflow: hidden;
  background-color: white;
}
.description {
  padding: 1rem 3rem 1rem 0;
  grid-area: description;
}
.perfume {
  letter-spacing: 0.4rem;
  font-family: Montserrat;
  color: rgb(164, 164, 164);
}
.image {
  display: none;
}
.name {
  font-family: Fraunces;
  font-size: clamp(2rem, 2.3vw, 3.25rem);
  line-height: clamp(2rem, 2.4vw, 3.65rem);
  font-weight: 700;
}
.extra-description {
  font-family: Montserrat;
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-weight: 500;
  color: rgb(164, 164, 164);
  line-height: 1.5rem;
  letter-spacing: 1px;
}
.image-wrapper {
  background: url(./images/image-product-desktop.jpg);
  min-height: 70vh;
  min-width: 25vw;
  background-size: cover;
  grid-area: image;
}
.price {
  font-family: Fraunces;
  font-size: clamp(2rem, 2.3vw, 3.25rem);
  color: var(--dark-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}
.overlined {
  font-family: Montserrat;
  font-size: 1.5rem;
  text-decoration: line-through;
  color: rgb(143, 143, 143)
}
.add-to-cart {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 12px;
  background-color: var(--dark-green);
  color: white;
  min-width: 10rem;
  padding-block: 1rem;
  padding-inline: clamp(4rem, 5vw, 5rem);
  border: 0;
  border-radius: 0.5rem;
}
.add-to-cart:hover {
  cursor: pointer;
  background-color: hsl(157, 31%, 28%);
}
@media(max-width: 66.25rem) {
  .wrapper {
    grid-template-areas: 
    'image'
    'description'
    ;
    min-height: 40rem;
    min-width: clamp(20rem, 30vw, 25rem);
    gap: 0;
  }
  .description {
    display: grid;
    justify-items: start;
    text-align: start;
    padding: 2rem;
  }
  .image-wrapper {
    min-height: 0;
    background: none;
    object-fit: contain;
    grid-area: image;
  }
  .image {
    display: block;
    max-width: 100%;
  }
  .add-to-cart {
    min-width: 10rem;
    padding-block: 1.5rem;
    padding-inline: clamp(2rem, 7vw, 5rem);
  }
  .add-to-cart h3 {
    margin: 0;
  }
}